.recto{
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: black;
    padding: 3%;
    height:40%;
    width: 50%;
    margin: 3cm;    
}
.recto img{
    height: 60%;
    width: auto;
}
h3{
    display: flex;
    align-items: center;
}
.verso{
    background: no-repeat center/80% url(/home/mylene/Documents/projet-gitlab/carte-de-visite/Sans-titre.png);
    background-position: bottom -120px right -150px;
    background-size: 95%;
    display: flex;
    align-items: self-end;
    justify-content: flex-end;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    padding: 3%;
    height:40%;
    width: 50%;
    margin: 3cm;
    padding-bottom:unset;
    font-size: 10px;

}
img{

    height: 2cm;
    width: auto;
}